* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

nav {
    background: #333;
    color: #fff;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #111;
    border-radius: 4px;
    padding: 14px 20px;
}

section {
    padding: 2em;
    max-width: 800px;
    margin: 2em auto;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #333;
}

p {
    font-size: 1.2em;
    line-height: 1.8;
    margin-bottom: 1em;
    color: #666;
}

footer {
    text-align: center;
    padding: 1em 0;
    background: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

intro {
    text-align: center;
    padding: 0px;
    display:inline-block;
    width: 100%;
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    section {
        padding: 1em;
    }
}
